<h1>Manage Employees!</h1>

<%= form_for @employee do |f| %>
  
  <div class="form-group">
    Name: <%= f.text_field :name %>
    <%= f.submit "Submit" %>
  </div>

<% end %>
<br>

<% @employees.each do |employee| %>
  <%= employee.name %> <br>

<% end %>