<!DOCTYPE html>
<html>
  <head>
    <title>ReactOnRailsWithWebpacker</title>
    <%= csrf_meta_tags %>
    <%= javascript_pack_tag 'schedule-bundle' %>
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>    
  </head>


  <body>
  <style type="text/css">
    th {
      text-align: center !important;
    }

  </style>
    <%= yield %>
  </body>
</html>
